[depends]

scripts = base/main

[groups]

styles =
    styles/stats/stats.css
    styles/ga_report/ga_report.css
    styles/ga_report/rickshaw.css
    styles/ds_stats.css

scripts =
    scripts/googleanalytics_event_tracking.js

scripts_stats =
    scripts/stats/vendor/excanvas.js
    scripts/stats/vendor/jquery.flot.js
    scripts/stats/javascript/modules/plot.js
    scripts/stats/javascript/modules/stats-nav.js

scripts_ga_report =
    scripts/ga_report/vendor/jquery-migrate-1.2.1.js
    scripts/ga_report/modernizr-2.6.2.custom.js
    scripts/ga_report/vendor/jquery.sparkline.modified.js
    scripts/ga_report/ckanext_ga_reports.js
    scripts/ga_report/rickshaw_ie7_shim.js
    scripts/ga_report/ga_report_graphs_others.js
    scripts/ga_report/ga_report_publisher.js
    scripts/ga_report/ga_report_graphs_rickshow.js
    scripts/ga_report/vendor/d3.v2.js
    scripts/ga_report/vendor/d3.layout.js
    scripts/ga_report/vendor/rickshaw.js
